*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
}

.en{
  width: 600px;
  height: 600px;
  position: relative;
  margin: auto;  
}

.position1{  
  position: absolute;
  top: 70px;
  left: 60px;
}

.position2{  
  position: absolute;
  top: 150px;
  left: 350px;
}

.position3{  
  position: absolute;
  top: 370px;
  left: 60px;
}