*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 10px;
  background-color: #000;
}

.container{
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  width: 500px;
  height: 800px;
  border: 1px dotted black;
}

.title{
  background-color: darkcyan;
  color: white;
  padding: 10px;
  text-align: center;  
}

.sub-title{
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-weight: 800;
}

ul{
  list-style-type: none;
}

li{
  margin-left: 50px;
  font-weight: 600;
  padding: 10px;
}

.t2{  
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 30px 0;
  margin-left: 20px;
}

.img{
  background-image: url("./dog1.jpg");
  width: 200px;
  height: 200px;
  position: absolute;
  background-repeat: none;
  right: 0;
  bottom: 0;
  background-size: cover;
}