*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  padding: 10px;
  background-color: #5d5d5d;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 10px;
}

.item{
  background-color: cornflowerblue;
  border: 1px solid #000;
}